<suite name="TestNg Roicians">
    <test name="Regression" allow-return-values="true">
         <classes>
             <class name="SEL.Testnew"/>
             <class name="SEL.TestSelenium"/>
             
          </classes>
     </test> 
     <test name="Smoke" allow-return-values="true">
     <classes>
     <class name="SEL.TestSelenium"/>
     </classes>
     </test>

     
</suite> <!-- Suite -->